numpy
torch
git+https://github.com/facebookresearch/segment-anything.git
dataclasses-json 
opencv-python
pandas
jupyterlab
ipykernel
ipywidgets
torchvision
torchaudio
transformers==4.48.0
sentence-transformers==3.3.1
datasets
accelerate>=0.26.0
